* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

body{
  width: 90%;
  margin:5rem auto;
}

.btn{
  width: 40%;
  margin:2rem auto;
  margin-left: 30%;
}

.heading{
  cursor: pointer;
}




